[Unit]
Description=Robogarage wifi-ui web server
After=robogarage-network.service
Requires=robogarage-network.service

[Service]
Type=simple
WorkingDirectory=/home/pi/wifi-ui
ExecStart=/usr/bin/python3 /home/pi/wifi-ui/server.py
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
